$footer-height: 60px;

.footer {
    height: $footer-height;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerline {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 12px;
    transition: .2s;
    
    #vasuttori {
        color: $color-gold-light;
        font-size: 0.82rem;
        padding: 0 0.3rem;
    }

    #tatai {
        font-weight: 600;
        color: $color-white;
        padding: 0 0.3rem;
    }

    p {
        font-size: 0.82rem;
        color: $color-gold-light;
        margin-bottom: 0;
    }
}


/* Facebook */
.fa {
    padding: 8px;
    font-size: 15px;
    width: 32px;
    height: 32px;
    text-align: center;
    background: $color-gold-light;
    color: $color-black;
    border-radius: 50%;
    transition: .2s;
}

.fa:hover, #tatai:hover {
    color: rgba($color-white, 0.7);
}

.fa:hover {
    background: #3B5998;
    color: $color-white;
}

