#fosav {
    background-image: url(../img/redHead.jpg);
    background-position: center;
    background-size: cover;
}

#fosav h1 {
    font-family: arecibo;
    font-size: 5.5rem;
    text-align: center;
    color: #E8DDCC;
    padding: 70px 0.5rem 0.8rem 0.5rem;
}